
<nav class="navbar navbar-expand-lg navbar dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Djando CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Con esto hacemos que si el usuario este autenticado se muestre un logged out, y sino un login; en este caso el Logout redirije a la vista del que renderiza el metodo logout, entonces el usuario se va a desloguear y despues redirije a home para loggear de nuevo-->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
