{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <strong>
          {{ customer_record.first_name }} 
          {{ customer_record.last_name }}
        </strong>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>Email: </strong>{{ customer_record.email }}</p>
        
        <p class="card-text">
        <strong>Phone: </strong>{{ customer_record.phone }}
        </p>
        
        <p class="card-text">
        <strong>Address: </strong>{{ customer_record.address }}</p>
        
        <p class="card-text">
        <strong>City: </strong>{{ customer_record.city }}</p>
        
        <p class="card-text">
        <strong>State: </strong>{{ customer_record.state }}</p>
        
        <p class="card-text">
        <strong>Zipcode: </strong>{{ customer_record.zipcode }}</p>
        
        <p class="card-text">
        <strong>Create At: </strong>{{ customer_record.created_at }}</p>
        
        <p class="card-text">
        <strong>ID: </strong>{{ customer_record.id }}</p>
      
    </div>
</div>

<br/><br/>

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Customer</a>
<!-- ahora el nombre de la url es el que le pertenece a la url de borrar, que es un metodo para borrrar el registro y refirijir hacia la ruta home. el metodo necesita que le pasen el id, asique por eso le sumamos a la url el customer.record.id -->
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

{% endblock %}